.contact {
    position: relative;
    background-image: linear-gradient(to right, #074c00, #42a341);
    height: 100%;
    color: #fff;
    z-index: 5;
    &-heading {
        text-align: center;
        font-size: 2rem;
    }
}
.form {
    margin-top: 5rem;
    padding-bottom: 2rem;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;

    h1 {
        color: rgb(245, 221, 145);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 2.5rem;
    }
    &-call-us {
        width: 20%;
        left: 20%;
        top: 20%;
    }
    &-email-us {
        position: relative;
        display: block;
        left: 10%;

        .form-input {
            padding: 1rem 0;
            margin-bottom: 2.5rem;
            background-color: transparent;
            max-width: 100%;
            outline: none;
            border: none;
            border-bottom: 0.3rem solid $color-primary;
            color: $color-primary;

            &:focus ~ label,
            &:valid ~ label {
                top: -1.2rem;
                left: 0;
                font-size: 1.8rem;
                color: #f7497d;
            }
            &:focus,
            &:valid {
                border-bottom: 0.2rem solid #f7497d;
            }
        }

        .box {
            position: relative;
            margin-top: 1rem;
            label {
                position: absolute;
                top: 1rem;
                left: 0;
                color: $color-primary;
                transition: 0.5s;
                pointer-events: none;
            }
        }
        button {
            border: 3px solid rgb(245, 221, 145);
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            text-transform: uppercase;
            font-weight: bold;
            background-color: transparent;
            color: rgb(245, 221, 145);
            border: 3px solid $color-primary;
            backface-visibility: hidden;
            transition: all .3s ease;
            &:hover {
                border: 3px solid #f7497d;
                color: #f7497d;
            }
        }
    }
}
