.service {
    background-color: #f1ebe5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    &-heading {
        margin-top: 2rem;
        text-transform: uppercase;
        line-height: 6rem;
        font-size: 1.9rem;
        text-align: center;
        h1 {
            font-weight: 900;
        }
        h3 {
            font-weight: 500;
            color: gray;
        }
    }
}

.card {
    width: 20%;
    background-color: #fff;
    margin: 1rem;
    padding: 3.5rem;
    overflow: hidden;
    transition: all 0.3s ease;
    

    @include respond(phone) {
        padding: 1.5rem;
        width: 30%;
    }

    img {
        max-height: 50%; // hight 10rem
        max-width: 50%; // width 10rem
        margin-bottom: 4rem;
    }

    &-container {
        h5 {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(black, $alpha: 0.5);
    }
}
